<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace: mapper接口的全限定名
	select id: mapper接口中的方法
	resultType: mapper接口中的方法的返回类型/注意如果是List<ComputerPojo>,
				则应该写成ComputerPojo而不是java.util.List
 -->

<mapper namespace="mapper.ComputerMapper">

	<select id="getAllComputers" resultType="pojo.ComputerPojo">
		SELECT id as cid, tradeMark, price, pic FROM computer
	</select>
	
	<!-- public ComputerPojo getById(); -->
	<select id="getById" resultType="pojo.ComputerPojo">
		SELECT id AS cid, tradeMark, price, pic FROM computer WHERE id = #{computerId}
	</select>
	
	<!-- public ComputerPojo getByIdAndTradeMark(Integer cid, Float price); -->
	<select id="getByIdAndTradeMark" resultType="pojo.ComputerPojo">
		SELECT id AS cid, tradeMark, price, pic FROM computer WHERE id = #{cid}
			AND tradeMark LIKE ${tradeMark}
	</select>
	
	<!-- public ComputerPojo getByIdAndTradeMarkUsingParamMap(Integer cid, String tradeMark); -->
	<!-- MyBatis传参时,默认封装到Map结合里
			key param1,param2,param3
			value #{param1},#{param2},#{param3}
	 -->
		<select id="getByIdAndTradeMarkUsingParamMap" resultType="pojo.ComputerPojo">
		SELECT id AS cid, tradeMark, price, pic FROM computer WHERE id = #{param1}
			AND tradeMark LIKE #{param2}
	</select>
	
	<!-- public ComputerPojo getByPojo(ComputerPojo computerPojo); -->
	<select id="getByPojo" resultType="pojo.ComputerPojo">
		SELECT id AS cid, tradeMark, price, pic FROM computer WHERE id = #{cid}
			AND tradeMark LIKE #{tradeMark}
	</select>
	
	<!-- public List<ComputerPojo> getAllComputersByTabName(String tableName); -->
	<select id="getAllComputersByTabName" resultType="pojo.ComputerPojo">
		SELECT id as cid, tradeMark, price, pic FROM ${tableName}
	</select>
	
	<!-- public void insertComputer(ComputerPojo computerPojo); -->
	<insert id="insertComputer" >
		insert into computer(tradeMark, price, pic) values(#{tradeMark},#{price},#{pic})
	</insert>
	
	<!-- public void deleteComputer(@Param(value="cid") Integer cid); -->
	<delete id="deleteComputer">
		delete from computer where id = #{cid}
	</delete>
	
	<!-- public void updateComputerPrice(ComputerPojo computerPojo); -->
	<update id="updateComputerPrice">
		UPDATE computer SET price = #{price} WHERE id = #{cid}
	</update>
	
	<!-- public ComputerPojo selectComputer(String pcName); -->
	<select id="selectComputer" resultType="pojo.ComputerPojo">
		SELECT id as cid, tradeMark, price, pic FROM computer where tradeMark = #{pcName}
	</select>
	
	<!-- public List<ComputerPojo> getDynamicComputer(ComputerPojo computerPojo); -->
	<select id="getDynamicComputer" resultType="pojo.ComputerPojo">
		SELECT id as cid, tradeMark, price, pic FROM computer
			<where>
				<if test="cid != null">
					id = #{cid}
				</if>
				<if test="tradeMark != null">
					and tradeMark = #{tradeMark}
				</if>
				<if test="price != null">
					and price = #{price}
				</if>
			</where>
	</select>
</mapper>